language: php
php:
  - '7.0'
  - '7.1'
  - hhvm
  - hhvm-nightly
  - nightly

matrix:
    allow_failures:
        - php: hhvm
        - php: nightly
        - php: hhvm-nightly

before_script:
  - composer require satooshi/php-coveralls:dev-master
  - composer install && composer dump-autoload -o

script:
  - ./vendor/bin/phpunit --coverage-clover ./clover.xml

after_script:
  - php vendor/bin/coveralls -v
